.cadastro-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cadastro-container h2 {
  text-align: center;
  color: #4caf50;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
}

.cadastro-form label {
  margin-bottom: 15px;
  font-weight: bold;
}

.cadastro-form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cadastro-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro-form button:hover {
  background-color: #4586a0;
}

.mensagem {
  margin-top: 15px;
  text-align: center;
  color: blue;
  font-weight: bold;
}
