/* src/styles/Login.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e9f3f9;
}

.login-container {
  min-width: 187vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* funciona agora porque o body tem 100% */
}

.login-box {
  background: #ffffff;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-box h2 {
  color: #2563eb;
  margin-bottom: 30px;
  font-size: 22px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bcd2e6;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 4px #2563eb55;
}

.login-btn {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1e4db7;
}
